doctype html

block locals
  - var title = 'my website';


html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")

  body
    <nav class="navbar m-3 rounded fixed-top navbar-expand-lg navbar-light">
      <div class="home">
        <div><img src="../images/icon.png" width="77"></div>
        <div class="bar-flexbox">
          <img class="position_relative" src="../images/logo_1+2+3.jpg" height="25">
          <span class="position_relative">特定非営利活動法人</span>
          <p>中東平和フォーラム</p>
          <a class="navbar-brand" href="index.html"></a>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="activity.html">活動内容</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">寄付/問い合わせ</a>
      </ul>
    </div>
    </nav>




  block content

