extends _layout.pug

block locals
  - var title = 'yukyo LP';

block content
  body
    .container-fluid
      .row
        .col-12.col-sm-12.top-wrapper
          h1 自分を知り、新しい世界へ

    .container
      .row.justify-content-center
        .col-12.col-sm-12.main1-wrapper
          h2 どうしてわかってくれないの
          p もし、あなたが仕事をしながらも家族のために家事をしたり、子供のために勉強をしたことがあるキャリアウーマンであれば、こんな悩みを感じたことがあるのではないでしょうか。
          .comment__text
            p 「家族のために一生懸命家事をしているのに、旦那からは感謝されない・・」
          .comment__text
            p 「子供のために色々調べ実践しているのに言うことを聞いてくれない・・」
          p という方も少なからずいるでしょう。<br>
            |一方、不自由なく今までこれたものの、
          .comment__text
            p 「気づいたら時間だけすぎて、自己成長を感じられない・・・」
          p という漠然とした不安を抱えている方もいらっしゃるかもしれません。

          .point
            <span class="box-title">Point</span>
            p 今回、あなたの悩みの解決に必要な<br>
              | <span class="span">「目からウロコの考え方」</span><br>
              | <span class="span">「自己理解メソッド」</span><br>
              | を紹介します。
          p 結論から言うと、自己実現のためには<br>
            | <span class="span">"自分ととことん向き合う"</span>ことが最も大事です。
          p なぜ、自分ととことん向き合うことが大事なのでしょうか。簡単に無意識のすれ違いを見ていきましょう。

          .talk
            p ある日の朝のことです。
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-10-240.png" width="50">
              .conversation
                p 今何時？
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-9-240.png" width="50">
              .conversation
                p もう遅れるよ。<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-10-240.png" width="50">
              .conversation
                p 違う、いま何時かって聞いてるの？<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-9-240.png" width="50">
              .conversation
                p だから早く行かないと遅れるってば！<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-10-240.png" width="50">
              .conversation
                p ちゃんと聞いてよ。「今何時何分かって聞いてるの」<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-9-240.png" width="50">
              .conversation
                p もう四時過ぎてるってば！早く出ないと。<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-10-240.png" width="50">
              .conversation
                p 4時何分？<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-9-240.png" width="50">
              .conversation
                p 5分だよ。<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-10-240.png" width="50">
              .conversation
                p なんで最初から答えてくれないの？<br>
            .conversation-wrapper
              .conversation-img
                <img src="../images/iconmonstr-generation-9-240.png" width="50">
              .conversation
                p 最初から、もう遅れるって言ってるじゃないか！<br>
          p これは<b>事実を知りたい妻</b>と、遅れるかどうかの<b>意味合いが大切と考えている夫</b>のすれ違いの例です。こんなすれ違いが日常では数え切れないほどあるのです。

          h2 自分について学ぶことの大切さ
          p どうしても他人への理解が難しい瞬間がありますよね。ここでもう一歩踏み込むとどうなるでしょう。<br>
          .think
            p どうして相手はあのときその行動にでたのかな。
          .think
            p どうして自分はあの場であんなことをしてしまったんだろう。
          p 先程の例だと妻は事実を大切にしていたから何時何分を知ることが大事だったんだ！と理解でき、それを理解することが出来て初めて、夫は意味合いを大切にしていたんだと理解することが出来るのです。
          img(src="../images/jake-melara-Yh6K2eTr_FY-unsplash.jpg")
          p <span class="span">自分と向き合う作業や探っていく工程に何よりの価値</span>があります。自分のタイプを知ることで、自分自身の強みや課題を認識できるようになると、<span class="span">日常をうまくコントロールすることが出来る</span>ようになります。そして他者との違いはそもそもタイプの違いからだと理解できれば、<span class="span">他者を肯定的にとらえることができる</span>のです。
          p では、どのように自分ととことん向き合えばよいのでしょうか。私達は<b>タイプ</b>という理論を使います。

          h2 タイプ理論とは
          img(src="../images/20130120_225974.jpg")
          p タイプとは、スイスの心理学者カールGユングが提唱した「<span class="span">人の心の動きや脳の思考は場当たり的なものではなく、必ずパターン化している</span>」という考えをベースに、認識機能（脳の働き）を発展させた理論です。<br>
            | 欧米では一般的に知られている考え方で、自己理解メソッドとして学生や企業で取り入れているメソッドです。<br>
            | 「自己理解」とはつまり、自己分析をすることによって、自分の中の無意識に怒っている反応、喜びや悩み、ワクワクや不安など、それぞれの思考のパターンに意識をすることです。<span class="span">自己理解を深めると、自身をコントロールできる</span>ようになり、それが「心の成熟」となります。<br>
            | このメソッドは、人と関わるところではどこででも力を発揮するので、<span class="span">夫婦間・育児・仕事・人間関係すべてに役立つ</span>と考えられています。
          p 私達の中には心の情報処理システムのようなものがあります。それらは、<b>４つの軸</b>を中心に「心の指向」すなわち、「<b>自然に好む心の使い方がどちらを向いているか</b>」でそれぞれ分類していくことができます。その４つの軸について、それぞれの状況で起こる自身の”モチベーター”がどう動くか。つまりモチベーションの源や心の指向はどこに向けられているかということを探ると、タイプが見えてきます。
          .button-wrapper
            p <span class="span">自分のタイプを知って驚いてください！</span>
          .type4letter
            h3 4つの軸
            p ・心のエネルギーの方向（どこに関心を向け、どこからエネルギーを得るのか）<br>
              | ・ものの見方（どのように情報を取り入れているのか）<br>
              | ・ものの決め方（どのように結論を導くことを好むか）<br>
              | ・生活やライフスタイルのあり方（どのように外界と接することを好むか）

      .row.justify-content-center
        .col-12.col-sm-12.main2-wrapper
          h2 体験談
          p.main2__text INFJの男性と結婚したESTJの女性に結婚生活についてのインタビューを行いました。
            p.esfp-oomori__text ESFP 大森
            .Bko
              p 成長コースでの具体的な学びを教えいただけますか？
            p.estj__text ESTJ女性
            .Ako
              p やっと自分が何を考えているのかが、冷静にわかるようになりました。
              p Fi(自分の気持を表す心理機能)セッションを何回か受けた後、ふとした時に、「あれ、私あの時辛かったんだ」って気がついたことがありまして。
              p その記憶は、辛いから蓋をしていたんですけど…。以前、自分の気持ちを夫にぶつけて受け止めて貰えなかった記憶のせいで、より自分の気持ちに蓋をするようになっていた流れが理解できました。
              p また、自分がしたいことも、表面的には分かっていたつもりでしたが、実際は何もわかっていなかったんですよね。
              p 客観的に自分を見れるようになって初めて、本当に自分の求めているものが分かってきたのかもしれません。
            p.esfp-oomori__text ESFP 大森
            .Bko
              p それ、すごくわかります。自分を深く知るうちに、自分が本当に求めているものが見えてくる感覚ですよね。
            p.estj__text ESTJ女性
            .Ako
              p それから、気持ちがいつも不安定だったり傷ついていたのを、周囲のせいにしていた自分にも気がつくことが出来ました。
              p でも、相手が悪いと責め立てたところで何も解決しない。自分の気持ちを自分で落ち着かせることでまず、解決につながるということを理解しました。
            p.esfp-oomori__text ESFP 大森
            .Bko
              p その通りだと思います！あとは、Te(優先順位と実行の心理機能のこと)機能が下の夫がいる、Te主機能の女性の方へのアドバイスはありますか？
            p.estj__text ESTJ女性
            .Ako
              p とにかく、以前は夫と出かけると凄くイライラしていました。
              p その理由を深掘っていくと、彼の「どこへ行くのかを決断しない」「みんなに合わせる」といった言動で、結果全ての判断を私が下さなくてはいけないことに、不満や不安があったからです。
              p これは私自身のことなんですが、「不安があるときに、他者に対して攻撃的になる」という傾向がありまして…。
              p 結果相手を攻撃することで、不安を隠そうとする。
              p 素直にその不安を出すことが出来ずに攻撃的になってしまうから、相手だって傷つくし、いつまでも真意が伝わらない。
              p だから、アドバイスとしてはやはり、「自分の不安や気持ちに気づくこと。目を向けること。」
              p そうすると、不必要に攻撃的にならずに済むようになります。
              p 不安にならないだけの準備も、私にとってはものすごく大切でしたね。相手のせいで終わらせたら本当の解決にはならないです。
              p 自分の行動、考えにも原因があるって分かったらトラブルも解決できるって分かってから自分と向き合いたくなりました。


          .professor
            h2 講師の紹介
            img(src="../images/harumi2.jpg")
            P 日系アメリカ人で日本人の夫を持ち、2011年から日本に住んでいます。
              | アメリカではハーバード大学院卒業後、世界宗教と宗教哲学の教鞭を執っていました。
              | また、国際通信社でメディア開発および評価スペシャリストとしても働いて、世界中のジャーナリズムの大学の学生のワークショップやとレーニングを行いました。
              | 現在は、近隣もしくは都内の母子を対象としたレベル別、タイプ別セミナーを日本語と英語で毎週行っています。
          .slider-x
            div
              img(src="../images/IMG_0260.jpg")
            div
              img(src="../images/IMG_0259.jpg")
            div
              img(src="../images/IMG_0261.jpg")
          P.pic-explain こちらは実際のタイプセッションの様子です。
          .box17#contact
            p <span class="span">Zoomセッションも始めました。<br>初回2時間セッションで自己理解を深めます。</span>
          img(src="../images/S__15392774.jpg")
          P そして今回<span class="span">このページからの申し込み限定で7/5(日)のセッションに無料招待</span>致します！
          P 自分自身の無意識の世界に気づいて驚いてください。
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    .footer
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
