extends _layout.pug

block locals
  - var title = 'yukyo LP';

block content
  body
    .container-fluid
      .row
        .col-12.col-sm-12.top-wrapper
          h1 自分を知り、新しい世界へaaaaaaaa

    .container
      .row.justify-content-center
        .col-12.col-sm-12.main1-wrapper
          h2 どうしてわかってくれないの
          p もし、あなたが仕事をしながらも家族のために家事をしたり、子供のために勉強をしたことがあるキャリアウーマンであれば、こんな悩みを感じたことがあるのではないでしょうか。
          .comment__text
            p 「家族のために一生懸命家事をしているのに、旦那からは感謝されない・・」
          .comment__text
            p 「子供のために色々調べ実践しているのに言うことを聞いてくれない・・」
          p という方も少なからずいるでしょう。<br>
            |一方、不自由なく今までこれたものの、
          .comment__text
            p 「気づいたら時間だけすぎて、自己成長を感じられない・・・」
          p という漠然とした不安を抱えている方もいらっしゃるかもしれません。







          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    .footer
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
