extends _header.pug

block locals
  - var title = 'yukyo LP';

block content

  .container-fluid
    .row
      .col-12.col-sm-12.page-wrapper
        h1 ニュース
        .overlay1

    .row.justify-content-around.page-content
      .col-12.col-sm-9
        .article
          h2 新着記事タイトル
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          p テキストテキスト
          .home-button
            <a href="index.html"><button type="submit" class="btn btn-success">一覧へ戻る</button></a>


      .col-12.col-sm-3.side-bar
        h2 最近の投稿
        ul
          li aaaa
          li aaaa
        h2 カテゴリ
        ul
          li aaaa
          li aaaa
        h2 アーカイブ
        ul
          li aaaa
          li aaaa














  include _footer.pug
