.navbar{
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  background-color:white;


  .home-btn{
    display: flex;
    .home-btn-img{
      img{
        width: 70px;
      }
    }

    .home-btn-text{
      width: 300px;
      position: relative;
      margin-left:10px;
      img{
        position: absolute;
        top:2px;
        left:0;
        height: 20px;
      }
      span{
        position: absolute;
        top:22px;
        left:2px;
        font-size: 12px;
        color:black;

      }
      p{
        position: absolute;
        top:35px;
        left:0;
        color:black;
        font-size: 21px;
      }
    }
  }
  .navbar-collapse{
    ul{
      margin-top:20px;
    }
    li{
      margin:0 10px;
    }
    a{
      font-size: 24px;
    }
  }
}




// .import-layout-bg{
//   // background-image:url('../images/main-3_2.jpg');
//   background-color:$main-color;
//   background-size: cover;
//   height: 250px;
//   position: relative;
//   overflow: hidden;
//   margin-top:150px;
//   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));

// }

// トップページのh1の表示
.overlay1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 170px;
  background: rgba(0,0,0, 0.6);
}
.topPage{
  height: 510px;
  background-image:url('../images/top.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  position: relative;
  h1{
    margin: 400px 0 0 100px;
    color:white;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    z-index: 999 !important;
  }
}


// bodyの中の左表示テーマ
.tag{
  font-weight: bold;
  font-size: 20px;
  color:#393939;
  margin-top:30px;
  border-bottom:3px solid $main-color;
  width:85px;
  padding-bottom:13px;
}

//ボタン
.button{
  text-align: center;
  margin-top:50px;
  a{
      font-weight: bold;
      color:white;
      padding: 15px 100px;
      margin-bottom: 30px;
      font-size: 23px;
  }
}
